<!DOCTYPE html>
<html lang="zh-TW">

<head>
	<title>Uptime System</title>
	<meta charset="UTF-8">
	<script src="http://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous">
		</script>
	<link rel="stylesheet" type="text/css" href="static/css/header.css">
	<link rel="stylesheet" type="text/css" href="static/css/config.css">
</head>

<body>
	<div class="header">
		<h1>Uptime System</h1>
	</div>
	<div class="topnav">
		<a href="/" style="font-size:20px;">Home</a>
		<a href="/data" style="font-size:20px;">VM</a>
		<a href="/email" style="font-size:20px;">eMail</a>
		<a href="/config" style="font-size:20px;">config</a>
		<a href="/data_create" style="font-size:20px;">VM_create</a>
		<a href="/email_create" style="font-size:20px;">eMail_create</a>
		
	</div>

	<div class="main">
		<br>
		<h1>Config</h1>


		<div class="item i1">
			Threshold(sec)：<input id="Threshold" type="text" /><br />
			Duration(sec)：<input id="Duration" type="text" /><br />

		</div>
		<br>
		<div class="item buttons">
			<button class="button reset">reset</button>
			<button class="button send">send</button>

		</div>
	</div>
</body>
<script src="static/js/config.js"></script>

</html>