<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <title>VM</title>
  <meta charset="UTF-8">
  <meta http-equiv="cache-control" content="no-cache">
  <meta http-equiv="expires" content="0">
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous">
    </script>
  <link rel="stylesheet" type="text/css" href="static/css/header.css">
  <link rel="stylesheet" type="text/css" href="static/css/data.css">
</head>

<body>
  <div class="header">
    <h1>Uptime System</h1>
  </div>
  <div class="topnav">
    <a href="/" style="font-size:20px;">Home</a>
		<a href="/data" style="font-size:20px;">VM</a>
		<a href="/email" style="font-size:20px;">eMail</a>
		<a href="/config" style="font-size:20px;">config</a>
		<a href="/data_create" style="font-size:20px;">VM_create</a>
		<a href="/email_create" style="font-size:20px;">eMail_create</a>
		
  </div>

  <div class="main">
    <div class="list">
      <div class="table1">
        <table>
          <table>
            <tr>
              <th class="title">ID</th>
              <th class="title">IP</th>
              <th class="title">Hostname</th>
              <th class="title">Username</th>
              <th class="title">Password</th>
              <th class="title">Port</th>
              <th class="title">Uptime</th>
              <th class="title">Status</th>
            </tr>
          </table>
      </div>
      </table>
    </div>
</body>
<script src="static/js/data.js"></script>

</html>